{% load static %}

<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
        <link rel="shortcut icon" href="{% static 'journal/favicon/favicon.ico' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<!--        <link rel="stylesheet" href="{% static 'journal/bootstrap/css/bootstrap.css' %}">-->
        <link rel="stylesheet" type="text/css" href="{% static 'journal/style.css' %}">
        <meta charset="UTF-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <script src="https://kit.fontawesome.com/35277c279d.js" crossorigin="anonymous"></script>
<!--        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">-->
        <title>Aceh40 - Home</title>
    </head>
    <body>
		<div class="border-row" style="width: 100%; margin-bottom: 10px"></div>
        {% include "journal/_navbar.html" %}
		<div class="border-row" style="width: 100%; margin-bottom: 150px"></div>
        <div class="top-message">
            <h4>Journal Guidlines</h4>
            <h6>Good things:</h6>
            <div><strong>Python learning:</strong><p>Do tutorials, build your own projects, or read books.</p></div>
            <div><strong>Fitness:</strong><p>Do pushups etc. exercises in the basement.</p></div>
            <div><strong>Guitar:</strong><p>Play the guitar, do tutorials, or read about it.</p></div>
            <div><strong>Read Books:</strong><p>Including fiction, non-fiction, work related, hobby related..</p></div>
            <div><strong>Housework:</strong><p>Clean up, fix things around the house, or read about it.</p></div>
            <h6>Things to avoid (bad things):</h6>
            <div><strong>Video Games:</strong><p>Eliminate video games.</p></div>
            <div><strong>Youtube/Netflix:</strong><p>Limit watching tv, videos to 15-30 min per day, ideally 0.</p></div>
            <em>When you catch yourself doing bad things, switch to good ones.</em>

        </div>
        <div class="container" style="min-height:100%">

            {% block content %}
            {% endblock%}

            <hr/>
            {% block pagination %}      <!-- Block which sets up pagination -->
                {% if is_paginated %}       <!-- Checks if pagination exists on the page -->
                <span class="pagination">
                    <span><a href="{{ request.path }}?page=1"><i class="fas fa-angle-double-left" style="color:#0297DB; padding-left:10px; padding-right:10px; padding-top:5px"></i></a></span>
                    {% if page_obj.has_previous %}      <!-- If previous page exists, add link to previous page. -->
                        <span><a href="{{ request.path }}?page={{ page_obj.previous_page_number }}"><i class="fas fa-angle-left" style="color:#0297DB; padding-left:10px; padding-right:10px; padding-top:5px"></i></a></span>
                    {% endif %}
                    <span><h5>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.&nbsp&nbsp</h5></span>
                    {% if page_obj.has_next %}          <!-- If next page exists, add link to next page. -->
                        <span><a href="{{ request.path }}?page={{ page_obj.next_page_number }}"><i class="fas fa-angle-right" style="color:#0297DB; padding-left:10px; padding-right:10px; padding-top:5px"></i></a></span>
                    {% endif %}
                    <span><a href="{{ request.path }}?page={{ page_obj.paginator.num_pages }}"><i class="fas fa-angle-double-right" style="color:#0297DB; padding-left:10px; padding-right:10px; padding-top:5px"></i></a></span>
                {% endif %}
            {% endblock %}
        </div>
    </body>
</html>