{% extends 'journal/base.html' %}

{% block content %}
    <h1>Diet Log</h1>
    <a href="{% url 'journal:diet_entry' %}"><i class="fas fa-plus fa-2x" style="color: #0297DB"></i></a>
    </hr></br>
    <h3>Recent entries:</h3>
    <hr/>
    {% if diet_list %}
        {% for diet_entry in diet_list %}
            <strong>Date: </strong>
            <em>{{ diet_entry.created_date }}</em>
            <strong>Meal Type: </strong>
<!--To display the choice values, use get_FOO_display instead of FOO, where FOO is fieldname (see below)-->
            <em>{{ diet_entry.get_meal_display }}</em>
            <strong>Score: </strong>
            <em>{{ diet_entry.get_score_display }}</em>
            </br>
            <hr/>
        {% endfor %}
    {% else %}
        <p>There are no diet entries.</p>
    {% endif %}
{% endblock %}