{% extends 'journal/base.html' %}
{% load verbose_names %}

{% block content %}

    <div>
        <h4>{{ tennisstring }}</h4>
        <hr/>
<!--        To display the choice values, use get_FOO_display instead of FOO, where FOO is fieldname (see below)-->
        <p><strong>{% get_verbose tennisstring "type" %}: </strong>{{ tennisstring.get_type_display }}</p>
        <p><strong>{% get_verbose tennisstring "gauge" %}: </strong>{{ tennisstring.gauge }}</p>
        {% if tennisstring.url %}
            <p><strong>{% get_verbose tennisstring "url" %}: </strong>
                <a href="{{ tennisstring.url }}" target="_blank">{{ tennisstring.url }}</a></p>
        {% endif %}
    </div>

{% endblock %}
