{% extends 'journal/base.html' %}

{% block content %}
    <h1>Tennis Strings</h1>
    <h3>Recent entries:</h3>
    <hr/>
    {% if tennis_string_list %}

        <table class="table table-borderless table-sm" style="display: block">
            <tr>
                <th style="width:200px">make</th>
            </tr>
            {% for tennis_string in tennis_string_list %}
            <tr>
                <td><a href="{% url 'journal:tennis_string' tennis_string.pk %}">{{ tennis_string }}</a></td>
            </tr>
            {% endfor %}
        </table>

    {% else %}
        <p>There are no tennis string entries.</p>
    {% endif %}
{% endblock %}